/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    89deg,
    #9845e8 3.33%,
    #33d2ff 43.52%,
    #dd5789 76.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.5px;
}

.header-dark {
  background: radial-gradient(
      100% 100% at 50.1% 100%,
      rgba(78, 138, 255, 0.2) 0%,
      rgba(78, 138, 255, 0) 100%
    ),
    var(--Gray-Dark-Default, #030712);
}

.header-light {
  background: var(
    --Background-2,
    radial-gradient(
      100% 100% at 50.1% 100%,
      rgba(5, 44, 119, 0.5) 0%,
      rgba(78, 138, 255, 0) 100%
    )
  );
}
