/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default values for light mode */
/* src/styles/globals.css */
html {
  scroll-behavior: smooth;
}

:root {
  --Gray-Default: #ffffff; /* Assuming light mode by default */
}

/* When dark mode is active */
.dark {
  --Gray-Default: #030712; /* Dark mode specific variables */
}

.project {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(78, 138, 255, 0.2) 0%,
      rgba(78, 138, 255, 0) 100%
    ),
    var(--Gray-Default);
}

/* Similarly adjust other styles that need to switch between themes */

.gradient-text {
  background: linear-gradient(
    89deg,
    #9845e8 3.33%,
    #33d2ff 43.52%,
    #dd5789 76.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.5px; */
}

.header-dark {
  background: radial-gradient(
      100% 100% at 50.1% 100%,
      rgba(78, 138, 255, 0.2) 0%,
      rgba(78, 138, 255, 0) 100%
    ),
    var(--Gray-Dark-Default, #030712);
}

.header-light {
  background: var(
    --Background-2,
    radial-gradient(
      100% 100% at 50.1% 100%,
      rgba(5, 44, 119, 0.5) 0%,
      rgba(78, 138, 255, 0) 100%
    )
  );
}

.mobile-header-dark {
  border-radius: 0.5rem;
  background: rgba(110, 141, 210, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 71, 0.08);
  /* backdrop-filter: blur(20px); */
}

.mobile-header-light {
  border: 0.5px solid var(--grey-dark-10055, rgba(31, 41, 55, 0.7));
  background: var(--White, #fff);

  /* Card 3 */
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 71, 0.06),
    0px 2px 4px 0px rgba(50, 50, 71, 0.06);
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

.hero-bg {
  background: url("/background.png") lightgray 0% 0% / 100px 100px repeat,
    radial-gradient(
      100% 100% at 50% 0%,
      rgba(78, 138, 255, 0.2) 0%,
      rgba(78, 138, 255, 0) 100%
    ),
    var(--Gray-Dark-Default, #030712);
  background-blend-mode: plus-darker, normal, normal;
}
